[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
python-dotenv = "*"
pandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"]}
httpx = "*"
RPLCD = {version = "*", markers = "sys_platform == 'linux'"}
smbus2 = {version = "*", markers = "sys_platform == 'linux'"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.13"
