[Unit]
Description=Tempest Weather FastAPI Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mcdomx
Group=mcdomx
WorkingDirectory=/home/mcdomx/tempest_weather
EnvironmentFile=/home/mcdomx/tempest_weather/.env
Environment="PIPENV_VENV_IN_PROJECT=1"
ExecStart=/usr/local/bin/pipenv run python main.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
